body {}

#token {
    width: 575px;
}

header {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.container {
    display: flex;

}

.endpoint,
.action {
    display: flex;
    margin: 10px;
    align-items: flex-start;
    flex-direction: column;
}